<footer>
  <hr>
    <div class="footer d-flex p-2">
      
      <div class="w-33 footer-header">
    <h3>Vought International</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quo.</p>
      </div>
    
      <div class="w-33 footer-links">
        <h3>Links</h3>
        <ul>
          <li><a href="/">Home</a></li>
            <li>Vought International</li>
            <li>The Seven</li>
            <li>The Boys</li>
            <li><a href="/heroes">Heroes Database</a></li>
        </ul>    
      </div>
    
      <div class="w-33 footer-contact">
        <h3>Contact Us</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      </div>
      
    </div>
    <hr>
    <div class="p-2">
      <p>© 1996-2020, vought-international.com, Inc. or its affiliates</p>
    </div>
    
    
    
    
    </footer>