<footer>
    <div class="footer d-flex">
      
      <div class="w-33 footer-header">
    <h3>Vought International</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quo.</p>
      </div>
    
      <div class="w-33 footer-links">
        <h3>Links</h3>
        <ul>
          <li><a href="/">HOME</a></li>
            <li>VOUGHT INTERNATIONAL</li>
            <li>THE SEVEN</li>
            <li>THE BOYS</li>
            <li><a href="/heroes">HEROES DATABASE</a></li>
        </ul>    
      </div>
    
      <div class="w-33 footer-contact">
        <h3>Contact Us</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      </div>
      
    </div>
    <hr>
    <p>© 1996-2020, vought-international.com, Inc. or its affiliates</p>
    
    
    
    </footer>