
  
    <div class="navbar d-flex f-row">
      <div class="navbar-logo">
        <img src="/images/Logo.png" alt="">
      
      </div>
  
      <ul class="navbar-menu">
        <li><a href="/">HOME</a></li>
        <li>VOUGHT INTERNATIONAL</li>
        <li>THE SEVEN</li>
        <li>THE BOYS CASE</li>
        <li><a href="/heroes">HEROES DATABASE</a></li>
      </ul>
  
    </div>
  </header>