<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>


<header>
  <div class="banner">
    <img src="/images/Banner.jpg" alt="" width="100%">
  </div>


<%- include('../partials/header') %> 