
<%- include('./partials/head') %> 

<div class="cover"><img src="/images/VOUGHT.jpg" alt=""></div>

<section class="section p-1">
  <h1 class="center">MOST VISITED</h1>
  
  <div class="d-flex j-arround" >
    
    <article class="hero">
      <div class="hero-img">
        <img src="/images/Homelander.png" alt="" width="100%">
      </div>
      <div class="hero-name p-2">
        <h1 class="center">HOMELANDER</h1>
  
      </div>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/starlight.png" alt="" width="100%">
      </div>
      <div class="hero-name p-2">
        <h1 class="center">STARLIGHT</h1>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/stormfront.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1 class="center p-2">STORMFRONT</h1>
    </article>
  </div>
</section>

<section class="section d-flex p-1">
  <div class="section-img">
  <img src="/images/Madelyn.jpg" alt="">
  </div>
  
  <div class="section-cite">
    <cite>"A world without crime, with liberty and justice for all, that's within our reach, thanks to the 200+ superheroes in the Vought family. We see a bright future ahead, where there is a Vought hero in every town." <br><br></cite>
    <cite id="name"> Madelyn Stillwell</cite>
  </div>
</section>

<section class="section p-1">

  <h1 class="center p-1">RECENTLY ADDED</h1>
  
  <div class="d-flex j-arround" >
    <article class="hero">
      <div class="hero-img">
        <img src="/images/A-TRAIN.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1 class="center p-2">A-TRAIN</h1>
  
      </div>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/Black-noir.png" alt="" width="100%">
      </div>
      <div class="hero-name p-2">
        <h1>BLACK NOIR</h1>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/the-deep.png" alt="" width="100%">
      </div>
      <div class="hero-name p-2">
        <h1 class="center">THE DEEP</h1>
    </article>
  </div>
  
</section>

<section class="section">
  <div class="cover"><a href="""><img src="/images/restricted.jpg" alt=""></a></div>
</section>


<%- include('./partials/backButton') %> 

<%- include('./partials/footer') %> 
    
  </body>
</html>
