<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


<header>
  <div class="banner">
    <img src="/images/Banner.jpg" alt="" width="100%">
  </div>


<%- include('./partials/head') %> 





<div class="cover"><img src="/images/VOUGHT.jpg" alt=""></div>

<section class="section">
  <h1 class="title">MOST VISITED</h1>
  
  <div class="d-flex j-arround" >
    
    <article class="hero">
      <div class="hero-img">
        <img src="/images/Homelander.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1>HOMELANDER</h1>
  
      </div>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/starlight.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1>STARLIGHT</h1>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/stormfrost.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1>STORMFROST</h1>
    </article>
  </div>
  
 

</section>

<section class="section d-flex">
  <div class="section-img">
  <img src="/images/Madelyn.jpg" alt="">
  </div>
  
  <div class="section-cite">
    <cite>"A world without crime, with liberty and justice for all, that's within our reach, thanks to the 200+ superheroes in the Vought family. We see a bright future ahead, where there is a Vought hero in every town." <br><br></cite>
    <cite id="name"> Madelyn Stillwell</cite>
  </div>
</section>

<section class="section">

  <h1 class="title">RECENTLY ADDED</h1>
  
  <div class="d-flex j-arround" >
    <article class="hero">
      <div class="hero-img">
        <img src="/images/A-TRAIN.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1>A-TRAIN</h1>
  
      </div>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/Black-noir.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1>BLACK NOIR</h1>
    </article>
  
    <article class="hero">
      <div class="hero-img">
        <img src="/images/deep.png" alt="" width="100%">
      </div>
      <div class="hero-name">
        <h1>THE DEEP</h1>
    </article>
  </div>
  

</section>


<%- include('./partials/backButton') %> 

<%- include('./partials/footer') %> 
    
  </body>
</html>
