section{
  background-color: white;
  margin: 0 auto;
}
.section{
  margin-top: 0.5%;
}
.section-img{
  width: 25%;
}
.section-img img{
  width: 100%;
}
.section-cite {
margin: auto 0;
padding-left: 2%;
width: 70%;
text-align: start;
}
cite{
  text-align: center;
  font-size: 32px; 
  color: rgb(135, 133, 133);
}
#name{
  font-weight: 600;
}

section article{
  transition: 600ms;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background-color: rgba(211, 211, 211, 1);
  margin: 1%;
}

section article img{
  
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  
}

.search{
  text-align: right;
  margin-bottom: 1%;
  
  }

  .search input[type=text]{
    background-color: lightgray;
    border: 1px solid gray;
    width: 15%;
    font-family: "Amazon Ember"
  }

  .search input[type=submit]{
    background-color: lightgray;
    border: 1px solid gray;
    padding-left:1%;
    padding-right:1%;
    font-family: "Amazon Ember"
  }


section article:hover{
  transform: scale(1.05);
  transition: 600ms;
  cursor: pointer;
}


.detail-img{
  background-color:white;
  margin: 2% auto;
  
}
.detail-img img{
  width: 100%;

}


.hero-detail{
  background-color:white;
  margin: 2% auto;
  text-align: center;
  color: black;
  font-size: 17px;

  
}

.hero-detail ul{
  list-style: none;
}

.hero-detail p{
  margin-bottom: 1%;
  
  
}
.hero-detail h1{
  margin-bottom: 2%;
}

.hero-detail h4{
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 14px;
  color: gray;
  font-weight: 600;
}

.border{
  margin: 1% auto;
  border-radius: 5%;
}